body {
  margin: 0 !important;
  padding: 0;
}

.header {
  overflow: hidden;
  width: 100%;
  border-bottom: 3px solid;
}

.header-right {
  margin: 20px;
  float: right;
}

table {
  margin: 20px;
  border-collapse: collapse;
  table-layout: fixed;
  float: left;
}

td{
  width: 30px;
  height: 30px;
  position: relative;
}

#drawing-table td span {
  display: none;
  color: #000;
  text-decoration: none;
  padding: 3px;
  cursor: arrow
}

#drawing-table td:hover span {
  display: block;
  position: absolute;
  background-color: #FFF;
  border: 1px solid #CCC;
  margin: 2px 10px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  z-index: 10;
}